* {
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(to right, #000000, #2a2929);
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #bba1a1;
}

.navbar-toggler-icon {
  background-color: #565150;
  border-radius: 2px;
  padding: 8px;
}
.navbar-brand {
  color: white;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: linear-gradient(to right, #000000, #2a2929);
}

footer {
  margin-top: auto;
}

.lead {
  color: white;
}

.title {
  color: white;
}

.navbar-brand:hover {
  text-decoration: none;
  color: inherit;
}
h2 {
  color: white;
}

/* Default button size (for mobile and small screens) */
.btn-secondary {
  display: inline-block;
  padding: 12px 24px; /* Larger padding for mobile */
  font-size: 16px; /* Larger font size for mobile */
  font-weight: bold;
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  background-color: #2a2929;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.btn-secondary:hover {
  background-color: #858585;
  color: #2a2929;
  transform: scale(1.05);
}

/* Focus effect */
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Smaller button on larger screens (PC) */
@media (min-width: 992px) {
  .btn-secondary {
    padding: 8px 16px; /* Smaller padding for desktop */
    font-size: 25px; /* Smaller font size for desktop */
  }
}
